body{
    margin: 0;
    padding: 0;
    background: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.icon-core{
    font-size: 20pt;
    transition: transform 400ms;
    display: inline-block;
}
.icon-core:hover{
    transform: rotate(360deg);
    /* transform: ; */
}
.header{
    background: cornflowerblue;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 30px;
    box-shadow: 1px 1px 10px 1px grey;
}
.footer{
    background: cornflowerblue;
    padding: 5px 5px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 20px;
    box-shadow: -1px -1px 10px 1px grey;
    text-align: center;
    font-family: serif;
}
.body{
    margin: 0 10px;
    padding: 20px 10px;
    background: white;
    min-height: 500px;
    margin-top: 60px;
}
.features-item{
    border: 1px solid;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    min-width: 100px;
    text-align: center;
    transition: box-shadow 200ms;    
    cursor: pointer;
}

.features-item:hover{
    box-shadow: 1px 1px 10px -2px black;
}


.loading-el{
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    padding-top: 20%;
    height: 100%;
    font-size: 30pt;
    background: rgba(0, 0, 0, 0.5);
    color: antiquewhite;
    font-family: cursive;
}

